# src/Ens/SimonBundle/Resources/config/doctrine/Category.orm.yml
Ens\SimonBundle\Entity\Category:
  type: entity
  repositoryClass: Ens\SimonBundle\Repository\CategoryRepository
  table: category
  id:
    id:
      type: integer
      generator: { strategy: AUTO }
  fields:
    name:
      type: string
      length: 255
      unique: true
  oneToMany:
    jobs:
      targetEntity: Job
      mappedBy: category
    category_affiliates:
      targetEntity: CategoryAffiliate
      mappedBy: category